<h1>Character: <%= @character.name %></h1>
<h2>Location: <%= @location.name %></h2>

<p><%= link_to "Edit character", edit_location_character_path(@location, @character) %></p>
<p><%= link_to "Delete character", location_character_path(@location, @character),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to location", location_path(@location) %></p>
