<h1><%= @location.name %></h1>


<% if @location.characters.any? %>
  <h4>Here are the characters for this location:</h4>

  <% @location.characters.each do |character| %>
    <ul>
      <li>
        <%= link_to character.name, location_character_path(@location, character) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No characters are listed for this location.</p>
<% end %>

<p><%= link_to "Add a character", new_location_character_path(@location) %></p>

<p><%= link_to "Edit", edit_location_path(@location) %></p>
<p><%= link_to "Delete location", location_path(@location),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to locations", locations_path %></p>
